.login-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    .col {
        display: flex;
        align-items: center; 
        justify-content: center; 
        flex-direction: column;
        &:first-child {
            background-color: #F7E3E2;
        }
        &:last-child {
            background-color: #F3B4B3;
        }
        label {
            align-self: flex-end;
            display: flex;
        }
        .form-check-label {
            display: inline;
        }
    }
    .img-block {
        display: none;
    }
    .pet-hub {
        width: 40%;
    }
    .btn-primary {
        background-color: #F7E3E2;
        border-color: #F7E3E2;
        border-radius: 50%;
        width: 50%;
    }
    input[type=text] {
        height: 45px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
    }
    a {
        img {
            width: 40%  ;
        }
    }
}

.passcode-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	margin: 0 auto;
	input {
		width: 60px;
        height: 70px;
        padding: 0;
        margin-right: 5px;
        text-align: center;
        border: none;
        font-size: 35px;
        background-image: url(/assets/images/input-bg.png);
        background-color: #F7E3E2;
        background-repeat: no-repeat;
        background-size: 60px 70px;
		&:last-child {
			margin-right: 0;
		}
		&::-webkit-inner-spin-button, 
		&::-webkit-outer-spin-button { 
			-webkit-appearance: none;
			appearance: none;
			margin: 0;
		}
		&:focus,
		&.focus {
			border-color: green;
			outline: none;
			box-shadow: none;
		}
	}
}
@media (min-width: 768px) {
    .img-block {
      display: flex !important;
    }
}