<div class="login-wrapper">
    <div class="col">
        <div class="text-center">
            <img class="img-fluid pet-hub" src="assets/images/pet-hub.svg" alt="">
        </div>
        <form class="text-center">
            <div class="form-group">
                <label for="exampleFormControlInput1">Username</label>
                <input type="text" class="form-control" [formControl]="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="passcode-wrapper">
                    <input class="password" id="codeBox1" type="password" maxlength="1" (keyup)="onKeyUpEvent(1, $event)" (focus)="onFocusEvent(1)">
                    <input class="password" id="codeBox2" type="password" maxlength="1" (keyup)="onKeyUpEvent(2, $event)" (focus)="onFocusEvent(2)">
                    <input class="password" id="codeBox3" type="password" maxlength="1" (keyup)="onKeyUpEvent(3, $event)" (focus)="onFocusEvent(3)">
                    <input class="password" id="codeBox4" type="password" maxlength="1" (keyup)="onKeyUpEvent(4, $event)" (focus)="onFocusEvent(4)">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                    Forgot Password
                    </label>
                </div>
            </div>
            <a href="javascript:void(0)" (click)="onSubmit()">
                <img class="img-fluid" src="assets/images/login-btn.svg" alt="">
            </a>
        </form>
    </div>
    <div class="col img-block">
        <div class="text-center">
            <img class="img-fluid pet-hub" src="assets/images/pet-hub.svg" alt="">
        </div>
        <img class="img-fluid" src="assets/images/pet.svg" alt="">
    </div>
</div>