.page-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    & > div {
        background-color: #ffffff;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex: 1 1 30%;
        border-radius: 10px;
        min-height: 130px;
        transition: all 0.5s ease;
        &:hover {
            box-shadow: 2px 2px 5px #ccc;
            background-color: #F6B5B8;
            cursor: pointer;
        }
        img {
            width: 82px;
        }
        p {
            font-size: 14px;
            margin-bottom: 0px;
        }
    }
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    .dr-details {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        margin-right: auto;

        img {
            background-color: #ffffff;
            padding: 10px;
            border-radius: 50%;
        }
        p {
            margin-bottom: 0px;
        }
        padding-bottom: 20px;
    }
}