<div class="container">
    <div class="dr-details">
        <img src="assets/icons/user.svg" alt="user">
        <div>
            <p>Doctor Name: Anupam Sahini</p>
            <p>Sahini Pet care</p>
        </div>
    </div>
    <div class="page-list">
        <div>
            <img src="assets/icons/appointment.png" alt="appoinment">
            <p>Appoinment</p>
        </div>
        <div>
            <img src="assets/icons/appointment.png" alt="appoinment request">
            <p>Appoinment Request</p>
        </div>
        <div>
            <img src="assets/icons/record.png" alt="records">
            <p>Medical Record</p>
        </div>
        <div>
            <img src="assets/icons/bulk_notification.png" alt="bulk_notification">
            <p>Bulk Notification</p>
        </div>
        <div>
            <img src="assets/icons/follow-up.svg" alt="follow-up">
            <p>Follow-Up</p>
        </div>
        <div>
            <img src="assets/icons/prescription.svg" alt="prescription">
            <p>Prescription</p>
        </div>
    </div>
</div>