/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    background-color: #F2E3E2;
}